<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
 
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <style>
    /* General Styles */
    @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

    body {
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
      margin: 0;
      padding: 0;
    }

    .main {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
    }

    .nav {
      background-color: #333;
      color: #fff;
      padding: 10px;
      text-align: center;
    }

    .nav h2 {
      margin: 0;
    }

    /* Admin List Styles */

    .admin-ctn {
      margin-top: 20px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      padding: 20px;
    }

    .admin-ctn h1 {
      font-size: 24px;
      margin-bottom: 20px;
    }

    .admin-ctn ol {
      margin-top: 10px;
      padding-left: 20px;
    }

    .admin-ctn li {
      margin-bottom: 10px;
    }

    /* Button Styles */

    .button {
      display: inline-block;
      padding: 8px 16px;
      border-radius: 4px;
      font-weight: bold;
      text-align: center;
      text-decoration: none;
      transition: background-color 0.3s ease;
    }

    .accept-button {
      background-color: green;
      color: white;
    }

    .reject-button {
      background-color: red;
      color: white;
    }

    .button:hover {
      opacity: 0.8;
    }

    /* FontAwesome Icon Styles */

    .fa-check-circle {
      margin-right: 5px;
    }

    .fa-times-circle {
      margin-right: 5px;
    }
  </style>
  <title>Document</title>
</head>

<body>
  <div class="main">
    <div class="nav">
      
    </div>

    <div class="admin-ctn">
      <h1>Admin List</h1>
      <ol>
        <% for (const admins of admin) { %>
        <li><%= admins.userID %>
          <a class="button accept-button" href="/mainadmin/status/accept/<%=admins.userID%>">
            <i class="fas fa-check-circle"></i>Accept
          </a>
          <a class="button reject-button" href="/mainadmin/status/reject/<%=admins.userID%>">
            <i class="fas fa-times-circle"></i>Reject
          </a>
        </li>
        <% } %>
      </ol>
    </div>
  </div>
</body>

</html>

