<!DOCTYPE html>
<html>

<head>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/assets/main.css">
    
</head>

<body>
     <div class="navbar">
          <h1>Login Page</h1>
     </div >
<form action="/login/admin" method="post">
     <div class="login-form">
          <form>
          <div class="floating-input">
               <input type="text" id="username" name="username" required>
               <label for="username">Phone number</label>
          </div>
          
          <div class="floating-input">
               <input type="password" id="password" name="password" required>
               <label for="password">Password</label>
          </div>
        
               <input type="submit" value="Login" class="login-button" style=" width: 55px;">
               <p><a href="signuppage.html" class="signup">Don't have an account?Create an account</a></p>
          </form>
     </div>
     </form>
</body>

</html>
