<!DOCTYPE html>
<html>

<head>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="main.css">
    
</head>

<body>
     <div class="navbar">
          <div style="padding-top: 13px;"><a class="backbutton" href="#">🡠</a></div>
          <h1>Signup Page</h1>
     </div>

     <div class="signup-form">
          <form>
               <div class="floating-input">
                    <input type="text" id="username" name="username" required>
                    <label for="username">Username</label>
               </div>
               
               <div class="floating-input">
                    <input type="password" id="password" name="password" required>
                    <label for="password">Password</label>
               </div>
               <div class="floating-input">
                    <input type="text" id="username" name="username" required>
                    <label for="username">Phone Number</label>
               </div>
               
               <div class="floating-input">
                    <input type="password" id="password" name="password" required>
                    <label for="password">Address</label>
               </div>
               <input type="submit" value="Sign up" class="signup-button">
          </form>
     </div>
</body>

</html>